body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
}

.container {
    width: 60%;
    margin: 60px auto;
    background: white;
    padding: 25px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

h1 {
    color: #2c3e50;
}

h2 {
    color: #34495e;
}

footer {
    margin-top: 30px;
    text-align: center;
    color: gray;
}
